# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
prod.Dockerfile
dev.Dockerfile
Dockerfile
.git
.dockerignore
.gitignore
README.md
private.md
private.txt
docker-compose.yml

# Project artifacts we don't want included.
private.md
private.txt
.DS_Store
docs
data
db
